@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0 !important;
}

.container {
    width: 95%;
    margin: auto;
}

/* header .top-strip {
    border-top: rgba(0, 0, 0, 0.1) solid 1px;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
} */

.bg-org {
    background: #ff5252;
}

.link {
    color: black !important;
}

.link:hover {
    color: #ff5252 !important;
}

.MuiBadge-badge {
    background-color: #ff5252 !important
}

.mySwiper .card {
    width: 200px !important;
    border-radius: 5px !important;
    display: none !important;
}

.mySwiper .card .img{
    width: 100% !important;
    height: 200px !important;
    display: none;
} 

.mySwiper .card img {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.cart-btn {
    border: 2px solid #ff5252 !important;
    color: #ff5252 !important;
    padding: 5px 20px 5px 20px !important;
    z-index: 10px !important;
}