@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0 !important;
}

.container {
    width: 95%;
    margin: auto;
}

.link {
    color: black !important;
}

.link:hover {
    color: #ff5252 !important;
}